<div class="container">
  <div class="row">
    <div class="col">
      <div class="main_img">
        <div class="main_img_back d-flex align-items-center justify-content-center">
          <h2 class="text-center text-white">〜愛車に長く乗るために、今できること〜</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-4 mx-auto">
        <div class="form-group d-grid gap-2">
          <%= link_to 'サインアップ',new_user_registration_path,class:"btn btn-success" %>
        </div>
        <div class="form-group d-grid gap-2 mt-3">
          <%= link_to 'ログイン',new_user_session_path, class:"btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>

