<header class="header">
  <div class="header__inner">
      <a href="/" class="fs-1 text-dark" id="header_logo">My automobile</a>

    <nav class="header__nav nav" id="js-nav">
      <ul class="nav__items nav-items">
        <li class="nav-items__item"><a href="" class="menu_title"><i class="fa-solid fa-house"></i> ホーム</a></li>
        <li class="nav-items__item"><a href="" class="menu_title"><i class="fa-solid fa-car"></i> 愛車情報</a></li>
        <li class="nav-items__item"><a href="" class="menu_title"><i class="fa-solid fa-screwdriver-wrench"></i> メンテナンス</a></li>
        <li class="nav-items__item"><a href="" class="menu_title"><i class="fa-solid fa-book-journal-whills"></i> 日記</a></li>
      </ul>
    </nav>

    <button class="header__hamburger hamburger" id="js-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
